VITE_MARKETPLACE_API_URL=http://localhost:3004/api
VITE_MARKETPLACE_ORIGINS=http://localhost:3002
VITE_MARKETPLACE_URL=http://localhost:3002
VITE_NEXUS_BACKEND_WS=ws://localhost:3001/ws
VITE_HCAPTCHA_SITE_KEY=
MARKETPLACE_API_URL=http://localhost:3004/api
